body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f8ff; /* Light sky blue */
  color: #333; /* Dark text for contrast */
  line-height: 1.6;
}

.navbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #1e90ff; 
  padding: 15px;
}


.navbar-brand {
  font-size: 2rem;
  color: rgb(26, 13, 204); 
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: 1px; 
  margin: 0; 
  background: linear-gradient(to right, #5250d8, #bacde9);
}
